{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "import/no-mutable-exports": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-this-alias": "off"
  }
}
